<div class="row">
  <div class= "col-sm-2 col-md-2">
    <%= render :partial => 'navbar' %>
  </div>
  <div class= "col-sm-10 col-md-10">
    <h1>About US</h1>
    <p>Get started by creating your FREE account. As an Edible Love member, you can: Create, save and send professional PDF cookbooks. Add recipes to your saved books, upload your own recipes, share with family and friends and much more!</p>
