<div class="row">
  <div class= "col-sm-2 col-md-2">
    <%= render :partial => 'navbar' %>
  </div>
  <div class= "col-sm-10 col-md-10">
    <h1>Contact Us</h1>

    <p>Angie Gove: ang.gove@gmail.com</p>
    <p>Corinne Brady: corinnebrady@gmail.com</p>