<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Cookbook</h1>
  <p>Here is a cookbook I created for you</p>
  <a href="http://localhost:3000/cookbooks/<%= @cookbook.id %>/template/<%= @theme %>.pdf"><%= @cookbook.title %></a>
  <p>xoxoxox </p>
</body>
</html>
