@import url(http://fonts.googleapis.com/css?family=Oldenburg);

body {
  margin-top: 25px;
  margin-bottom: 35px;
  padding: 1em;
  font-size: 1.7em;
  line-height: 1.6em;
  color: rgba(8, 1, 94, 1);
  font-family: Oldenburg, cursive;
}

.container {
  width: 960px;
  margin: 0 auto;
}

li {
  list-style-type: none;
  margin-top: 30px;
}

h1 {
  text-align: center;
  color: rgba(255, 142, 96, 1);
  font-family: 'Oldenburg', cursive;
  margin-bottom: 35px;
}

h2 {
  font-family: 'Oldenburg', cursive;
}

h3 {
  font-family: 'Oldenburg', cursive;
}

h4 {
  font-family: 'Oldenburg', cursive;
}

a:hover {
  text-decoration: none;
  color: rgba(8, 1, 94, 1);

}

/*******************************************
                NAV
*******************************************/
.navbar {
  background-color: rgba(0, 0, 0, 0);
}

.navbar > .container .navbar-brand {
  color: rgba(214, 151, 18, 1);
  font-size: 2em;
}

.navbar > .container .navbar-brand:hover{
  text-shadow: 0 0 15px rgba(200, 200, 200, 1);
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(200, 200, 200, 1);
  font-size: 1em;
}

.navbar-inverse .navbar-nav > li > a:hover{
  text-shadow: 0 0 15px rgba(200, 200, 200, 1);
}





/*******************************************
          ICONS
*******************************************/
.fa {
  font-size: 1.9em;
  margin-right: 0.3em;
  color: rgba(15, 168, 115, 1);
}



/*******************************************
          FORM GENERAL
*******************************************/
form p {
  padding: 10px;
  margin: 20px 0;


}

input[type="text"], input[type="file"], input[type="password"]  {
  font-size: 1.8em;
  padding: 10px;
  border: 1px solid rgba(15, 168, 115, 1);
  display: block;
  color: rgba(8, 1, 94, 1);
  width: 100%;
}

textarea {
  font-size: 1.3em;
  padding: 10px;
  border: 1px solid rgba(15, 168, 115, 1);
  display: block;
  color: rgba(8, 1, 94, 1)
}

label {
  font-size: 1.8em;
}

.general_submit_button {
  background-color: rgba(255, 142, 96, 1);
  text-align: center;
  border-radius: 8px;
  width: 50%;
  border: none;
  margin: auto;
  display: block;
  color: rgba(8, 1, 94, 1);
  font-size: 1.9em;
  padding: 0.4em;
  margin-top: 20px;
}

.general_submit_button:hover {
  background-color: rgba(255, 108, 73, 1);
}

.general_submit_button i {
  vertical-align: middle;
  color: rgba(8, 1, 94, 1);
  font-size: 1.5em;
}

.general_submit_button .glyphicon {
  color: rgba(8, 1, 94, 1);
}

.controls {
  font-size: 1.9em;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 22px;
  margin-left: -23px;
  color: rgba(255, 108, 73, 1);
}
.controls:hover {
  color: rgba(242, 74, 58, 1);
}

/*******************************************
          FORM NEW RECIPE
*******************************************/

.form_recipe_ingredients_group {
  padding: 10px;
  margin: 10px 10px 10px 25px;
  margin-top: -37px;

}

.recipe_ingredients_display li {
  text-decoration: none;
}

.form_recipe_ingredients_indv label {
  margin-top: 20px;
}

.form_recipe_ingredients_indv {
  width: 100%;
  font-size: 0.7em;
}

.form_recipe_ingredients_indv input {
  width: 100%;
}

#add_ingredient_button {
  font-size: 1.6em;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 49px;
  margin-left: -23px;
}

.delete_ingredient_button {
  color: rgba(255, 108, 73, 1);
  font-size: 1.5em;
  margin-right: 0.3em;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  margin-top: -30px;
  margin-left: -1px;
}

.delete_ingredient_button:hover {
  color: rgba(242, 74, 58, 1);
}

.add_ingredient_button {
  color: rgba(255, 108, 73, 1);
}
.add_ingredient_button:hover {
  color: rgba(242, 74, 58, 1);
}



.recipe_ingredient_js_display {
  font-size: 1.8em;
  margin-bottom: -8px;
  margin-top: 6px;
}


.form_large_textarea {
  width: 100%;
  height: 10em;
}

.form_small_textarea {
  width: 100%;
  height: 5em;
}

.form_image_thumbnail img {
  height: 61px;
  float: right;
  margin-top: -93px;
  margin-right: 322px;
}












/*******************************************
          CHECKBOXES
*******************************************/


.checkbox {
  margin-left: 13px;
 }

.checkbox label {
  font-size: 1em;
 }

.input-group-addon {
  background-color: rgba(255, 142, 96, 1);
  border: 1px solid rgba(15, 168, 115, 1);
}

.input-group input[type="text"] {
  font-size: 1em;
}

.recipe_include_cookbook {
}



/*******************************************
          IMAGE UPLOAD FORM
*******************************************/



#cookbook_id {
  width: 240px;
  height: 34px;
  overflow: hidden;
  border: 1px solid rgba(15, 168, 115, 1);
  background-color: rgba(15, 168, 115, 0.5);
  color: rgba(8, 1, 94, 1);
  font-size: 1.4em;
}

#recipe_image {
  display: block;
  padding: 18px;
  vertical-align: bottom;
  font-size: 1.1em;
}

#recipe_image button{
  color:red;
}



#user_image {
  display: block;
  padding: 18px;
  vertical-align: bottom;
  font-size: 1.1em;
}

#cookbook_image {
  display: block;
  padding: 18px;
  vertical-align: bottom;
  font-size: 1.1em;
}


/*******************************************
          RECIPE DISPLAY
*******************************************/

.recipe_textarea_display {
  margin-left: 10px;
}

h4 {
  display: inline;
}

li.show_ing_list{
  margin-top: 5px;
  margin-left: -20px;
}

.show_ing {
  display: inline;
}

.show_recipe_headers {
  display: inline;
  margin-top: 25px;
  font-size: 1.6em;
}

.show_recipe_image {
  width: 350px;
  float: right;
  margin-top: 34px;
  margin-left: 10px;
}

.show_duration_only {
  text-align: center;
}

.show_servings_only {
  text-align: right;
}


.show_ingredients {
  margin-top: -56px;
}





/*******************************************
          AUTOCOMPLETE
*******************************************/

.autocomplete-suggestions {
  border: 1px solid rgba(8, 1, 94, 1);
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  color: rgba(8, 1, 94, 1);
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: rgba(15, 168, 115, 01);
}





/*******************************************
          TIMEPICKER
*******************************************/

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.ui-datepicker {
  color: rgba(8, 1, 94, 1);
}

.ui-widget-header {
  background-color: red;
}

.ui-datepicker-title {
  color: rgba(8, 1, 94, 1);
}

.ui-datepicker-close .ui-state-default .ui-priorit {
  color: red;
}

/*******************************************
          COOKBOOK INDEX
*******************************************/

.thumbnail:hover {
  background-color: rgba(255, 84, 50, 0.8);
}
/*.thumbnail:before {
  background-color: inherit;
  content: ' ';
}*/
.thumbnail{
  /*height: 300px;*/
  width: 100%;
  height: 207px;
  text-align: center;
  border: 5px solid white;
  background-color: #0E9C6A   ;
  transition: background-color 1s;
}
/*url(http://westsidecats.org/wp-content/uploads/2013/08/cookbook.gif)*/
/*.thumbnail.img{
  background: transparent;
}
*/
.thumbnail a{
  text-decoration: none;
  color: white;
}

.caption {
  width: 100%;
  height: 100%;
}

.caption h2 {
  width: 100%;
  height: 100%;
}

.caption h2 a {
  width: 100%;
  height: 100%;
  display: block;
}


/*******************************************
          NEW COOKBOOK
*******************************************/
.new_cookbook{
  margin-left: 50px;
}



/*******************************************
          COOKBOOK SHOW
*******************************************/

.template_section {
  margin-top: 20px;
}

.template_button {
  width: 100%;
}

.template_text {
  text-align: center;
}

.template_p {
  margin: 1em;
  text-align: left;
}

.template_p i {
  color: rgba(8, 1, 94, 1);
  font-size: 1.4em;
}

.description h3 {
  text-align: center;
}

.description {
  margin-right: 6em;
  margin-left: 6em;
  margin-bottom: 3em;
}

/*******************************************
          SIDE NAV
*******************************************/

.circle {
width: 150px;
height: 149px;
border-radius: 250px;
font-size: 20px;
color: white;
line-height: 150px;
text-align: center;
background: #000;
margin-left: -30px;
}

nav a:hover{
  color: rgba(255, 142, 96, 1);
}

nav li {
display: block;
margin-bottom: -35px;
line-height: 1.3em;
font-family: 'Permanent Marker', cursive;
/*margin-left: -35px;
*/
width: 100%;
color: rgba(8, 1, 94, 1);
/*font-family: 'Waiting for the Sunrise', cursive;*/

}

.navbar-nav {
color: rgba(255, 142, 96, 1);
margin-left: -30px;
}

span {
text-decoration: none;
color: white;
}

a{
  text-decoration: none;
}

.circle {
  margin-left: -40pwidth: 100%;
  font-family: 'Permanent Marker', cursive;
/*font-family: 'Waiting for the Sunrise', cursive;*/
}

.nav_display {
  display: inline;
}

#new_cookbook_link {
  display: inline-block;
}

.navbar-nav > li {
white-space: nowrap;
}

.navbar-nav > li.nav_user_name > a {
white-space: normal;
}


/*******************************************
          HOME PAGE
*******************************************/

.carousel{
  margin-top: 50px;
}

.carousel .item {

/*  height: 100%;
*/  background-color: rgba(200, 200, 200, 1);
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin-bottom: 0;
  /**/
}

/*.carousel {
   margin-left: 50px;
}
*/
.about_section{
  border-top: 2px dashed grey;
  margin-top: 10em;
}

.about_section h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 32px;
  display: inline;
  margin: 82px;
  color: black;
}

.about_section h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 32px;
  display: inline;
  margin: 82px;

}

.about_section p{
  margin-top: 20px;
  color: #428bca;
}
